
/*Link to demo - https://new.axilthemes.com/demo/react/papr */
/*Roboto - font-family: 'Roboto', sans-serif;*/
/*Poppins - font-family: 'Poppins', sans-serif;*/

/*Common CSS*/
body{margin: 0;}
body h1 {font-size: 32px; font-family: 'Poppins', sans-serif; font-weight: 600;}
body h2 {font-size: 28px; font-family: 'Poppins', sans-serif; font-weight: 600;}
body h3 {font-size: 24px; font-family: 'Poppins', sans-serif; font-weight: 600;}
body h4 {font-size: 18px; font-family: 'Poppins', sans-serif; font-weight: 600;}
body h5 {font-size: 14px; font-family: 'Poppins', sans-serif; font-weight: 600;}

.fluid-container{width: 100%;}
.container{width: 1110px; margin: 0 auto;}

/*Topbar CSS*/

.topbar{background: #000; height: 44px;}
.topbarfl{height: 44px; display: flex; justify-content: space-between; align-items: center;}
.topbar1,.topbar2 {color: white;}
.topbar2{width: 110px; display: flex; justify-content: space-between; font-size: 11px;}
.topbar1 span {font-family: 'Roboto', sans-serif; font-size: 14px; font-weight: 400;}
.topbar1 ul {display: flex;  margin-left: -40px;}
.topbar1 ul li {list-style-type: none; padding-right: 25px; font-family: 'Roboto', sans-serif; font-size: 14px; font-weight: 400; color: white;}
.topbar1 ul li a {font-family: 'Roboto', sans-serif; font-size: 14px; font-weight: 400; color: white; text-decoration: none;}

/*Menu CSS*/

.navigation {display: flex; flex-wrap: wrap; align-items: center; margin-top: 25px;}
.icons {margin-left: auto; display: flex; width: 70px; justify-content: space-between;}
.menu ul {display: flex; list-style-type:none; font-family: 'Poppins', sans-serif; font-weight: 500; font-size: 15px; }
.menu ul li {padding-right:20px;}
.menu ul li a {text-decoration: none; color: #161617; }

/*Featured Section CSS*/

.featured-news {display: flex; justify-content: space-between; margin-top: 50px; margin-bottom: 50px;}
.featured-col1 {width: 500px;}
.featured-col2 {width: 540px;}
.featured-col1 img {width: 500px; height: 500px;}
.recent-news {display: flex; justify-content: space-between; align-items: center; height: 15px; }
.recent-news h5 a {color: #161617;}

.news-1 {margin-top: 30px; display: flex; }
.featured-image a img {width: 155px; height: 155px;}
.news-tag {background: red; padding: 7px 17px 7px 17px; color: white; margin-left: 25px; font-family: 'Roboto', sans-serif; font-size: 13px; font-weight: 700; width: 30px;}
.news-tag1 {background: #51b4e1; padding: 7px 17px 7px 17px; color: white; margin-left: 25px; font-family: 'Roboto', sans-serif; font-size: 13px; font-weight: 700; width: 30px;}
.news-title {margin-left: 25px;}
.news-title a {color: #161617; text-decoration: none;}
.news-title a:hover {color: #161617; text-decoration: underline;}
.author {font-family: 'Poppins', sans-serif; font-weight: 300; font-size: 14px; margin-left: 25px; color: #7b7b7b;}
.author a {font-family: 'Poppins', sans-serif; font-weight: 300; font-size: 14px; color: #7b7b7b;}


/*Top Stories CSS*/

.top-stories-heading{display: flex; justify-content: space-between;}
.top-stories-heading h5 a {color: #161617;}
.top-stories-col1 img {width: 730px; height: 500px;}
.top-stories-col2 img {width: 350px; height: 250px;}

