/*Common CSS*/
/*Link to demo - https://new.axilthemes.com/demo/react/papr */
/*Roboto - font-family: 'Roboto', sans-serif;*/

body{margin: 0;}

.fluid-container{width: 100%;}
.container{width: 1110px; margin: 0 auto;}
.topbar{background: #000; height: 44px;}
.topbarfl{height: 44px; display: flex; justify-content: space-between; align-items: center;}
.topbar1,.topbar2 {color: white;}
.topbar2{width: 110px; display: flex; justify-content: space-between; font-size: 11px;}
.topbar1 span {font-family: 'Roboto', sans-serif; font-size: 14px; font-weight: 400;}
.topbar1 ul {display: flex;}
.topbar1 ul li {list-style-type: none; padding-right: 25px; font-family: 'Roboto', sans-serif; font-size: 14px; font-weight: 400; color: white;}
.topbar1 ul li a {font-family: 'Roboto', sans-serif; font-size: 14px; font-weight: 400; color: white; text-decoration: none;}

